.logo {
  font-weight: 300;
  flex-grow: 1;
}

.app-bar {
  background-color: black !important;
}

.link {
  color: white;
  font-weight: 200;
  transition: 0.3s;
}

.link:hover {
  border-bottom: white 1px;
  font-weight: 700;
}