.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
}

.item--subtitle {
  margin-top: 0px;
  margin-bottom: 32px;
}

.item--subtitle .item--subtitle--word {
  font-weight: 300;
}

// .item--card {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
//   display: flex;
//   align-items: center;
//   border-radius: 4px;
//   justify-content: space-between;
//   padding: 24px;
// }

// .item--card img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .item--card h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .item--card p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .item--card .item--card-infos {
//   padding: 16px;
// }

// .item--display {
//   margin-top: 8px;
// }